<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'creator' %}" class="brand-logo">Cards Against Copyrights</a>
            <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Creator</a></li>
                <li><a href="#">Decks</a></li>
                <li><a href="#">Back to home</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile">
    <li><a href="#">Creator</a></li>
    <li><a href="#">Decks</a></li>
    <li><a href="#">Back to home</a></li>
</ul>