{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ deck.name }} by {{ deck.author }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="card col 12 s12 m12 l12 xl12" style="margin-top: 40px;">
        <div class="card-content">
            <span class="card-title" style="font-weight: bold; font-size: 2.5em;">{{ deck.name }}</span>
            <div style="margin-bottom: 10px;">{{ deck.description }}</div>
            <div class="chip blue accent-2 white-text">{{ deck.author }}</div>
            {% for tag in tags %}
                <div class="chip red accent-2 white-text">{{ tag }}</div>
            {% endfor %}  
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header grey lighten-4 black-text">
                        <h4 class="row col s12">
                            <div class="col s6"><span class="tooltipped" data-position='right' data-tooltip='{{ white.count }}'>White cards</span></div>
                            <a href="#modalWhite" class="btn waves-effect modal-trigger grey darken-4 col s6">Add new card</a>
                        </h4>
                    </div>
                    <div class="collapsible-body">
                        <form action="{% url 'remove_card' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="type" value="white">
                            <input type="hidden" name="id" value="{{ deck.id }}">
                            <table class="striped">
                                <thead>
                                    <tr>
                                        <th>Card</th>
                                        <th><input type="submit" value="Delete" class="btn"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for white_card in white %}
                                        <tr>
                                            <td>{{ white_card.text }}</td>
                                            <td>
                                                <label>
                                                    <input name="card-{{ white_card.id }}" value="{{ white_card.id }}" type="checkbox" class="filled-in">
                                                    <span></span>
                                                </label>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header grey darken-4 white-text">
                        <h4 class="row col s12">
                            <div class="col s6"><span  class="tooltipped" data-position='right' data-tooltip='{{ black.count }}'>Black cards</span></div>
                            <a href="#modalBlack" class="btn waves-effect modal-trigger grey lighten-4 black-text col s6">Add new card</a>
                        </h4>
                    </div>
                    <div class="collapsible-body">
                        <form action="{% url 'remove_card' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="type" value="black">
                            <input type="hidden" name="id" value="{{ deck.id }}">
                            <table class="striped">
                                <thead>
                                    <tr>
                                        <th>Card</th>
                                        <th><input type="submit" value="Delete" class="btn"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for black_card in black %}
                                        <tr>
                                            <td>{{ black_card.text }}</td>
                                            <td>
                                                <label>
                                                    <input name="card-{{ black_card.id }}" value="{{ black_card.id }}" type="checkbox" class="filled-in">
                                                    <span></span>
                                                </label>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form> 
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-action">
            <a href="#modalRemove" class="btn red modal-trigger waves-effect">Remove Deck</a>
            <a href="{% url 'decks' %}" class="btn black waves-effect waves-light white-text">
                <span class="valign-wrapper">Go back<i class="material-icons" style="padding-left: 5px;">undo</i></span>
            </a>
        </div>
    </div>
</div>
<div class="modal" id="modalRemove">
    <div class="modal-content">
        <h4>Are your sure?</h4>
        <h5>You are trying to delete <b>{{ deck.name }}</b>.</h5>
        <form action="{% url 'remove_deck' %}" id="removeDeckForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ deck.id }}">
        </form>
    </div>
    <div class="modal-footer">
            <button type="submit" form="removeDeckForm" class="btn red waves-effect waves-red">
                Yes
            </button>
            <a href="#!" class="modal-close waves-effect waves-green btn green">No</a>
    </div>
</div>
<div id="modalWhite" class="modal">
    <div class="modal-content">
        <h4>Add new white card</h4>
        To add multiple cards use <span class="chip">;</span> as delimiter.
        <form id='whiteForm' action="{% url 'add_card' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ field }}
                        <label for="{{ field.name }}">{{ field.label }}</label>
                    </div>
                </div>
                <input type="hidden" name="type" value="white">
                <input type="hidden" name="id" value="{{ deck.id }}">
            {% endfor %}
        </form>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn waves-effect" value="Add" form="whiteForm">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a>
    </div>
</div>
<div id="modalBlack" class="modal">
    <div class="modal-content">
        <h4>Add new black card</h4>
        To add multiple cards use <span class="chip">;</span> as delimiter.<br>
        Single <span class="chip">_</span> is one blank space for card.
        <form id='blackForm' action="{% url 'add_card' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ field }}
                        <label for="{{ field.name }}">{{ field.label }}</label>
                    </div>
                </div>
                <input type="hidden" name="type" value="black">
                <input type="hidden" name="id" value="{{ deck.id }}">
            {% endfor %}
        </form>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn waves-effect" value="Add" form="blackForm">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let tooltips = document.querySelectorAll('.tooltipped');
        let modals = document.querySelectorAll('.modal');
        let collapsibles = document.querySelectorAll('.collapsible');
        M.Tooltip.init(tooltips);
        M.Modal.init(modals);
        M.Collapsible.init(collapsibles);
    });
</script>
{% endblock %}